* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1, h2, ul, p, figure, button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.lect-ecran {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn {
  width: 170px;
  line-height: 69px;
  background-color: #901C1C;
  border-radius: 5px;
  border: none;
  font-size: 1.125em;
  font-weight: 700;
  color: white;
}
@media all and (max-width: 1233px) {
  .btn {
    line-height: 35px;
  }
}
.btn:hover, .btn:focus {
  background-color: #D3573C;
  color: black;
}
.btn--pho {
  position: absolute;
  right: -193px;
  top: 0;
}
@media all and (max-width: 1233px) {
  .btn--pho {
    position: fixed;
    right: initial;
    top: initial;
    bottom: 30px;
    left: calc(50% - 85px);
  }
}
.btn--galerie {
  position: absolute;
  top: -14px;
  left: 96px;
  padding: 0 20px 0 20px;
  text-align: left;
  cursor: pointer;
}
.btn--galerie__texte {
  font-weight: 700;
}
.btn--galerie .fa-chevron-down {
  position: absolute;
  right: 18px;
  line-height: 69px;
}
@media all and (max-width: 1233px) {
  .btn--galerie .fa-chevron-down {
    line-height: 35px;
  }
}
@media all and (max-width: 1233px) {
  .btn--galerie {
    top: -5px;
    height: 35px;
    font-size: 1.125em;
  }
}

.btn-ferme--form {
  position: absolute;
  right: 30px;
  top: 28px;
  width: 72px;
  height: 72px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.btn-ferme--form::before {
  content: "";
  display: block;
  position: absolute;
  width: 54px;
  height: 6px;
  left: 7px;
  top: 22px;
  transform: rotate(-45deg);
  background-color: white;
}
.btn-ferme--form::after {
  content: "";
  display: block;
  position: absolute;
  width: 54px;
  height: 6px;
  left: 7px;
  top: 22px;
  transform: rotate(45deg);
  background-color: white;
}
.btn-ferme--form:hover::before, .btn-ferme--form:hover::after {
  background-color: #901C1C;
}
@media all and (max-width: 1233px) {
  .btn-ferme--form {
    position: absolute;
    right: 30px;
    top: 20px;
    width: 48px;
    height: 48px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .btn-ferme--form::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    left: 7px;
    top: 22px;
    transform: rotate(-45deg);
    background-color: white;
    background-color: white;
  }
  .btn-ferme--form::after {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    left: 7px;
    top: 22px;
    transform: rotate(45deg);
    background-color: white;
    background-color: white;
  }
  .btn-ferme--form:hover::before, .btn-ferme--form:hover::after {
    background-color: #901C1C;
  }
}

.btn-ferme--carrou {
  position: absolute;
  right: -80px;
  top: 0;
  width: 72px;
  height: 72px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.btn-ferme--carrou::before {
  content: "";
  display: block;
  position: absolute;
  width: 54px;
  height: 6px;
  left: 7px;
  top: 22px;
  transform: rotate(-45deg);
  background-color: #901C1C;
}
.btn-ferme--carrou::after {
  content: "";
  display: block;
  position: absolute;
  width: 54px;
  height: 6px;
  left: 7px;
  top: 22px;
  transform: rotate(45deg);
  background-color: #901C1C;
}
.btn-ferme--carrou:hover::before, .btn-ferme--carrou:hover::after {
  background-color: #DB8876;
}
@media all and (max-width: 599px) {
  .btn-ferme--carrou {
    position: absolute;
    right: -50px;
    top: 10px;
    width: 48px;
    height: 48px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
  .btn-ferme--carrou::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    left: 7px;
    top: 22px;
    transform: rotate(-45deg);
    background-color: #901C1C;
    background-color: #901C1C;
  }
  .btn-ferme--carrou::after {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;
    left: 7px;
    top: 22px;
    transform: rotate(45deg);
    background-color: #901C1C;
    background-color: #901C1C;
  }
  .btn-ferme--carrou:hover::before, .btn-ferme--carrou:hover::after {
    background-color: #DB8876;
  }
}

.menu-liste {
  display: none;
  position: absolute;
  top: -14px;
  left: 96px;
  width: 170px;
  height: 170px;
  background-color: #901C1C;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}
@media all and (max-width: 1233px) {
  .menu-liste {
    top: -5px;
    height: 110px;
    padding: 0 10px;
  }
}
.menu-liste li {
  padding: 0 10px 0 10px;
  line-height: 50px;
  font-weight: 700;
  cursor: pointer;
}
.menu-liste li:hover, .menu-liste li:focus {
  font-size: 1.125em;
}
@media all and (max-width: 1233px) {
  .menu-liste li {
    line-height: 35px;
  }
}
.menu-liste li:nth-of-type(2) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.menu-liste .fa-chevron-up {
  position: absolute;
  top: 0;
  right: 18px;
  line-height: 69px;
  pointer-events: none;
}
@media all and (max-width: 1233px) {
  .menu-liste .fa-chevron-up {
    line-height: 35px;
  }
}

.btn-chvr {
  position: absolute;
  top: calc(50% - 96px);
  width: 96px;
  height: 96px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.btn-chvr--gau {
  left: -96px;
}
.btn-chvr--gau:hover #chvr-gau {
  color: #DB8876;
}
.btn-chvr--dro {
  right: -96px;
}
.btn-chvr--dro:hover #chvr-dro {
  color: #DB8876;
}
.btn-chvr #chvr-gau, .btn-chvr #chvr-dro {
  color: #901C1C;
}
@media all and (max-width: 599px) {
  .btn-chvr #chvr-gau, .btn-chvr #chvr-dro {
    font-size: 2em;
  }
}
@media all and (max-width: 599px) {
  .btn-chvr {
    position: absolute;
    top: calc(50% - 48px);
    width: 48px;
    height: 48px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
  }
  .btn-chvr--gau {
    left: -48px;
  }
  .btn-chvr--gau:hover #chvr-gau {
    color: #DB8876;
  }
  .btn-chvr--dro {
    right: -48px;
  }
  .btn-chvr--dro:hover #chvr-dro {
    color: #DB8876;
  }
  .btn-chvr #chvr-gau, .btn-chvr #chvr-dro {
    color: #901C1C;
  }
}
@media all and (max-width: 599px) and (max-width: 599px) {
  .btn-chvr #chvr-gau, .btn-chvr #chvr-dro {
    font-size: 2em;
  }
}

.present-img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.present-img--pho {
  margin-left: 210px;
}
@media all and (max-width: 1233px) {
  .present-img--pho {
    right: 5%;
    width: 125px;
    height: 125px;
    margin-left: 10px;
  }
}
@media all and (max-width: 599px) {
  .present-img--pho {
    width: 100px;
    height: 100px;
  }
}

.fig-img, .fig-vid {
  margin-top: 30px;
  width: 32%;
  max-width: 350px;
}
@media all and (max-width: 1233px) {
  .fig-img, .fig-vid {
    margin-top: 10px;
    width: 48%;
    max-width: 48%;
  }
}
@media all and (max-width: 599px) {
  .fig-img, .fig-vid {
    width: 100%;
    max-width: 100%;
  }
}
.fig-img a, .fig-vid a {
  display: block;
  cursor: pointer;
}
.fig-img a:focus, .fig-vid a:focus {
  outline: 4px solid #901C1C;
}
.fig-img img, .fig-img video, .fig-vid img, .fig-vid video {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
@media all and (max-width: 599px) {
  .fig-img img, .fig-img video, .fig-vid img, .fig-vid video {
    height: 190px;
  }
}
.fig-img figcaption, .fig-vid figcaption {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
  margin-top: 10px;
}
.fig-img h2, .fig-vid h2 {
  max-width: 270px;
  font-size: 1em;
}
@media all and (max-width: 1233px) {
  .fig-img h2, .fig-vid h2 {
    font-size: 0.875em;
  }
}
.fig-img p, .fig-vid p {
  font-size: 1em;
  cursor: pointer;
  padding: 0 3px 0 3px;
}
@media all and (max-width: 1233px) {
  .fig-img p, .fig-vid p {
    font-size: 0.875em;
  }
}
.fig-img p:focus, .fig-vid p:focus {
  color: white;
  background-color: #901C1C;
  border-radius: 5px;
}
.fig-img span, .fig-vid span {
  font-weight: 500;
}

.vignette {
  margin-bottom: 50px;
  text-align: center;
}
@media all and (max-width: 1233px) {
  .vignette {
    width: 48%;
  }
}
@media all and (max-width: 599px) {
  .vignette {
    width: auto;
  }
}
.vignette__lien {
  display: block;
}
.vignette__lien img {
  margin: 0 auto;
}
.vignette__lien > h2 {
  font-size: 2.25em;
  color: #D3573C;
}
.vignette__lien:focus > h2 {
  color: white;
  background: #D3573C;
  border-radius: 5px;
}
.vignette p:nth-of-type(1) {
  font-size: 0.8125em;
  color: #901C1C;
}
.vignette p:nth-of-type(2) {
  font-size: 0.625em;
  margin-top: 3px;
}
.vignette p:nth-of-type(3) {
  font-size: 0.5625em;
  color: #757575;
  margin-top: 3px;
}
.vignette__liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.vignette__liste li:focus > .etiq-cont {
  border: 2px solid #901C1C;
}
.vignette__liste .etiq-cont {
  font-weight: 500;
  font-size: 0.813em;
  color: #901C1C;
  border: solid 0.5px #C4C4C4;
  border-radius: 11px;
  padding: 1px 6px 1px 3px;
  margin: 0 2px;
}
.vignette__liste .etiq-cont:hover {
  cursor: pointer;
}
.vignette__liste .etiq-cont[data-checked=true] {
  background-color: #901C1C;
  color: white;
}

.fiche {
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  margin-top: 40px;
  padding: 56px 50px;
}
@media all and (max-width: 1233px) {
  .fiche {
    background-color: white;
    padding: 0;
  }
}
.fiche > div {
  position: relative;
}
.fiche h1 {
  font-size: 4em;
  color: #D3573C;
}
@media all and (max-width: 1233px) {
  .fiche h1 {
    font-size: 2.25em;
  }
}
.fiche__lieu {
  font-size: 1.5em;
  color: #901C1C;
}
@media all and (max-width: 1233px) {
  .fiche__lieu {
    font-size: 0.813em;
  }
}
.fiche__citation {
  font-size: 1.125em;
  color: #525252;
  margin-top: 18px;
}
@media all and (max-width: 1233px) {
  .fiche__citation {
    font-size: 0.813em;
    margin-top: 6px;
    color: #757575;
  }
}
.fiche__liste {
  display: flex;
  margin-top: 20px;
  max-width: 180px;
}
.fiche__liste li:focus > .etiq-cont--pho {
  border: 2px solid #901C1C;
}
.fiche__liste .etiq-cont--pho {
  font-weight: 500;
  font-size: 1.125em;
  color: #901C1C;
  border: solid 0.5px #C4C4C4;
  border-radius: 12px;
  padding: 1px 6px 1px 3px;
  margin: 0 2px;
}
.fiche__liste .etiq-cont--pho:hover {
  cursor: pointer;
}
.fiche__liste .etiq-cont--pho[data-checked=true] {
  background-color: #901C1C;
  color: white;
}
@media all and (max-width: 1233px) {
  .fiche__liste .etiq-cont--pho {
    font-weight: 500;
    font-size: 0.813em;
    color: #901C1C;
    border: solid 0.5px #C4C4C4;
    border-radius: 11px;
    padding: 1px 6px 1px 3px;
    margin: 0 2px;
  }
  .fiche__liste .etiq-cont--pho:hover {
    cursor: pointer;
  }
  .fiche__liste .etiq-cont--pho[data-checked=true] {
    background-color: #901C1C;
    color: white;
  }
}

.bloc-page {
  max-width: 1440px;
  width: 90%;
  margin: 42px 0;
}

.header {
  display: flex;
  margin: 0 35% 0 0;
}
.header nav {
  margin-left: 86px;
  line-height: 25px;
}
@media all and (max-width: 1233px) {
  .header nav {
    width: 90%;
    margin: 18px auto 50px auto;
  }
}
.header__liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__liste li:focus > .etiq-cont {
  border: 2px solid #901C1C;
}
.header__liste .etiq-cont {
  font-weight: 500;
  font-size: 0.813em;
  color: #901C1C;
  border: solid 0.5px #C4C4C4;
  border-radius: 11px;
  padding: 1px 6px 1px 3px;
  margin: 0 2px;
}
.header__liste .etiq-cont:hover {
  cursor: pointer;
}
.header__liste .etiq-cont[data-checked=true] {
  background-color: #901C1C;
  color: white;
}

.modale-carrous {
  display: flex;
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.modale-carrous__cont {
  max-width: 70%;
  position: relative;
  color: #901C1C;
}
.modale-carrous__cont img, .modale-carrous__cont video {
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 5px;
}
.modale-carrous__descr {
  display: flex;
  font-size: 1em;
  max-width: 75%;
}
@media all and (max-width: 599px) {
  .modale-carrous__descr {
    font-size: 0.875em;
  }
}

.modale-contact {
  display: none;
  position: fixed;
  overflow: scroll;
  background-color: white;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.modale-contact__form {
  position: relative;
  max-width: 669px;
  height: 900px;
  margin: 100px auto;
  background-color: #DB8876;
  border-radius: 5px;
  padding: 18px 35px;
}
@media all and (max-width: 1233px) {
  .modale-contact__form {
    height: 740px;
  }
}
.modale-contact__form h1 {
  font-size: 4em;
  line-height: 70px;
  margin-bottom: 28px;
  padding-right: 35px;
}
@media all and (max-width: 1233px) {
  .modale-contact__form h1 {
    font-size: 2.25em;
    line-height: 45px;
  }
}
.modale-contact__form label {
  font-size: 2.25em;
}
@media all and (max-width: 1233px) {
  .modale-contact__form label {
    font-size: 1.5em;
  }
}
.modale-contact__form input {
  width: 100%;
  line-height: 68px;
  border: none;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 5px;
  font-size: 1.5em;
}
.modale-contact__form input:focus {
  outline: 4px solid #901C1C;
}
@media all and (max-width: 1233px) {
  .modale-contact__form input {
    line-height: 52px;
    margin: 5px 0 10px 0;
  }
}
.modale-contact__form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
  margin: 5px 0 26px 0;
  padding: 5px;
  font-size: 1.5em;
}
.modale-contact__form textarea:focus {
  outline: 4px solid #901C1C;
}
.modale-contact__form .lect-ecran {
  position: absolute;
  top: 10000px;
}

@media all and (max-width: 1233px) {
  .header {
    flex-direction: column;
    margin: 0;
  }
}
@media all and (max-width: 599px) {
  .header svg {
    width: 150px;
  }
}

.acc-main {
  margin: 110px 0 0 -30px;
}
@media all and (max-width: 1233px) {
  .acc-main {
    margin: 0;
  }
}
.acc-main > h1 {
  position: absolute;
  top: 44px;
  right: 5%;
  font-size: 2.25em;
  color: #901C1C;
}
@media all and (max-width: 1233px) {
  .acc-main > h1 {
    font-size: 1.8em;
  }
}
@media all and (max-width: 599px) {
  .acc-main > h1 {
    font-size: 0.875em;
    top: 58px;
    right: 7%;
  }
}
.acc-main > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
}
@media all and (max-width: 599px) {
  .acc-main > section {
    flex-direction: column;
  }
}
@media all and (max-width: 1233px) {
  .acc-main > section {
    gap: 2%;
  }
}
.acc-main > section::after {
  content: "";
  width: 300px;
}

.galerie {
  padding-top: 20px;
}
.galerie .galerie-tri {
  position: relative;
  font-size: 1.125em;
  font-weight: 700;
}
.galerie .galerie-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 20px;
}
@media all and (max-width: 1233px) {
  .galerie .galerie-cont {
    margin-top: 40px;
  }
}
@media all and (max-width: 599px) {
  .galerie .galerie-cont {
    flex-direction: column;
    margin-top: 40px;
  }
}
.galerie .galerie-cont::after {
  content: "";
  width: 350px;
}

.infosup {
  position: fixed;
  bottom: 0;
  right: 36px;
  width: 376px;
  display: flex;
  justify-content: space-between;
  background-color: #DB8876;
  font-size: 1.5em;
  color: black;
  padding: 21px 31px;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
}
@media all and (max-width: 1233px) {
  .infosup {
    bottom: initial;
    top: 0;
    z-index: 2;
    width: 200px;
    font-size: 1em;
    padding: 5px 8px;
    border-radius: 0 0 5px 5px;
  }
}
.infosup p {
  font-weight: 500;
}
.infosup__prix {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
