// Bouton d'ouverture
.btn {
  width: 170px;
  line-height: 69px;
  font-size: 1.125em;
  background-color: $clr-pri;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  color: white;
  @include tab-max {
    line-height: 35px;
  }
  &:hover, &:focus {
    background-color: $clr-sec;
    color: black;
  }
  // Bouton de redirection vers <main> (page d'accueil)
  &--acc {
    display: none;
    position: fixed;
    top: 6px;
    right: 0;
    left: 0;
    a {
      display: block;
      width: 182px;
      line-height: 30px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &--pho {
    position: absolute;
    font-size: 1.25em;
    right: -193px;
    top: 0;
    @include tab-max {
      position: fixed;
      font-size: 1.125em;
      right: initial;
      top: initial;
      bottom: 30px;
      left: calc(50% - 85px);
    }
  }
  // Bouton de sélection du menu déroulant (page photographe)
  &--galerie {
    position: absolute;
    top: -14px;
    left: 96px;
    padding: 0 20px 0 20px;
    text-align: left;
    &__texte {
      font-weight: 700;
    }
    .fa-chevron-down {
      position: absolute;
      right: 18px;
      line-height: 69px;
      @include tab-max {
        line-height: 35px
      }
    }
    .fa-chevron-up {
      position: absolute;
      display: none;
      z-index: 1;
      right: 18px;
      line-height: 69px;
      pointer-events: none;
      @include tab-max {
        line-height: 35px
      }
    }
    @include tab-max {
      top: -5px;
      height: 35px;
      font-size: 1.125em;
    }
  } 
}

// Boutons de fermeture des modales (page photographe)
.btn-ferme--form {
  @include btn-ferme(white, 28px, 30px);
  @include tab-max {
    @include btn-ferme--mini(white, 20px, 30px);
  }
}
.btn-ferme--carrou {
  @include btn-ferme($clr-pri, 0, -80px);
  @include tab-max {
    @include btn-ferme--mini($clr-pri, 0, -50px);
  }
}

// Menu déroulant (page photographe)
.menu-liste {
  display: none;
  position: absolute;
  top: -14px;
  left: 96px;
  width: 170px;
  height: 170px;
  background-color: #901C1C;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  z-index: 1;
  @include tab-max {
    top: -5px;
    height: 110px;
    padding: 0 10px;
  } 
  li {
    padding: 0 10px 0 10px;
    line-height: 50px;
    font-weight: 700;
    cursor: pointer;
    &:focus {
     font-size: 1.25em;
    }
    @include tab-max {
      line-height: 35px
    }
    &:nth-of-type(2) {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
  }
}

// Boutons d'étiquette
.header__liste-etiq {
  button {
    @include btn-etiq(3px, 2px);
  }
  .etiq-cont {
    @include tags;
  }
}
.vignette__liste-etiq {
  button {
    @include btn-etiq(0, 2px);
  }
  .etiq-cont {
    @include tags;
  }
}
.fiche__liste-etiq {
  button {
    @include btn-etiq(0, 2px);
  }
  .etiq-cont--pho {
    @include tags(1.125em, 12px);
    @include tab-max {
      @include tags(0.813em, 11px);
    }
  }
}

// Chevrons du carrousel (page photographe)
.btn-chvr {
  @include btn-chevron(96px);
  @include tab-max {
    @include btn-chevron(48px);
  }
}