
// Bouton d'ouverture
.btn {
  width: 170px;
  line-height: 69px;
  background-color: $clr-pri;
  border-radius: 5px;
  border: none;
  font-size: 1.125em;
  font-weight: 700;
  color: white;
  @include tab-max {
    line-height: 35px;
    font-size: 1.125em;
  }
  &:hover, &:focus {
    background-color: $clr-sec;
    color: black;
  }
  &--pho {
    position: absolute;
    right: -193px;
    top: 0;
    @include tab-max {
      position: fixed;
      right: initial;
      top: initial;
      bottom: 30px;
      left: calc(50% - 85px);
    }
  }
  // Bouton de sélection du menu déroulant
  &--galerie { 
    position: absolute;
    top: -10px;
    left: 96px;
    font-size: 1.125em;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    @include tab-max {
      top: -5px;
      width: 145px;
      height: 35px;
      font-size: 1.125em;
    }
  } 
}

// Boutons de fermeture des modales
.btn-ferme--form {
  @include btn-ferme(white, 28px, 30px);
  @include tab-max {
    @include btn-ferme--mini(white, 20px, 30px);
  }
}
.btn-ferme--carrou {
  @include btn-ferme($clr-pri, 0, -80px);
  @include mob-max {
    @include btn-ferme--mini($clr-pri, 10px, -50px);
  }
}

// Menu déroulant (page photographe)
.menu-liste {
  display: none;
  position: absolute;
  top: -10px;
  left: 96px;
  width: 170px;
  height: 170px;
  background-color: #901C1C;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  @include tab-max {
    top: -5px;
    width: 145px;
    height: 110px;
    padding: 0 10px;
  } 
  li {
    font-size: 1.125em;
    padding-left: 10px;
    line-height: 50px;
    font-weight: 700;
    cursor: pointer;
    @include tab-max {
      line-height: 35px
    }
  }
  :nth-child(2) {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

// Chevrons du carrousel
.btn-chvr {
  @include btn-chevron(96px);
  @include mob-max {
    @include btn-chevron(48px);
  }
}