// Fiche de présentation (page du photographe)
.fiche {
  display: flex;
  justify-content: space-between;
  background-color: $clr-qua;
  margin-top: 40px;
  padding: 56px 50px;
  @include tab-max {
    margin-top: 30px;
    background-color: white;
    padding: 0;
  }
  > div {
    position: relative;
  }
  h1 {
    font-size: 4em;
    color: $clr-sec;
    @include tab-max {
      font-size: 2.25em;
    }
  }
  &__lieu {
    font-size: 1.5em;
    color: $clr-pri;
    @include tab-max {
      font-size: .8125em;
    }
  }
  &__citation {
    font-size: 1.125em;
    color: #525252;
    margin-top: 18px;
    @include tab-max {
      font-size: .8125em;
      margin-top: 6px;
      color: #757575;
    }
  }
  &__liste-etiq {
    display: flex;
    margin: 20px 0 0 -2px;
    max-width: 180px;
  }
}