.header {
  @include tab-max {
    flex-direction: column;
    margin: 0;
  }
  svg {
    @include mob-max {
      width: 150px;
    }
  }
}

.acc-main {
  margin: 110px -3.5%;
  @include tab-max {
    margin: 0;
  }
  &__sect {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10%;
    @include tab-max {
      gap: 2%;
    }
    @include mob-max {
      flex-direction: column;
    }
    > h1 {
      position: absolute;
      top: 0;
      right: 3%;
      font-size: 2.25em;
      color: $clr-pri;
      @include tab-max {
        font-size: 1.5em;
        top: 10px;
      }
      @include mob-max {
        font-size: 0.875em;
        top: 17px;
      }
    }
    &::after {
      @include after-flex;
    }
  }
}