.acc-main {
  margin: 110px 0 0 -30px;
  > h1 {
    position: absolute;
    top: 44px;
    right: 5%;
    font-size: 2.25em;
    color: $clr-primaire;
  }
  > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10%;
  }
}