// SECTION GALERIE
// Menu déroulant et Conteneur de la galerie
.galerie {
  padding-top: 20px; 
  .galerie-tri {
    position: relative;
    font-size: 1.125em;
    font-weight: 700;
  }
  .galerie-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 20px;
    @include mob-max {
      flex-direction: column;
      margin-top: 40px;
    }
  }
}

// Informations supplémentaires (nombre de "j'aime" et prix)
.infosup {
  position: fixed;
  bottom: 0;
  right: 36px;
  width: 376px;
  display: flex;
  justify-content: space-between;
  background-color: #DB8876;
  font-size: 1.5em;
  color: black;
  padding: 21px 31px;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
  @include tab-max {
    bottom: initial;
    top: 0;
    z-index: 2;
    width: 200px;
    font-size: 1em;
    padding: 5px 8px;
    border-radius: 0 0 5px 5px;
  }
  p {
    font-weight: 500;
  }
  &__prix {
    font-weight: 500;
  }   
}