// Responsive
@mixin mob-max {
  @media all and (max-width: map-get($bkpt, mob)){
    @content;
  }
}
@mixin tab-max {
  @media all and (max-width: map-get($bkpt, tab)){
    @content;
  }
}

// Boutons d'étiquette
@mixin btn-etiq($mgv, $mgh) {
  margin: $mgv $mgh;
  &[aria-pressed=true] > .etiq-cont {
    background-color: $clr-pri;
    color: white;
  }
  &:focus > .etiq-cont, &:hover > .etiq-cont {
    border: 0.5px solid $clr-pri;
  }
}

// Contenu des étiquettes
@mixin tags($em: 0.75em, $br: 11px) {
  font-weight: 500;
  font-size: $em;
  color: $clr-pri;
  border: solid 0.5px #C4C4C4;
  border-radius: $br;
  padding: 2px 5px;
}

// Barres des boutons de fermeture (X)
@mixin btn-barre($clr, $deg, $wdt, $hgt, $top, $left) {
  content: "";
  display: block;
  position: absolute;
  width: $wdt;
  height: $hgt;
  left: $left;
  top: $top;
  transform: rotate($deg);
  background-color: $clr;
}

// Boutons de fermeture (normal)
@mixin btn-ferme($clr, $top, $right) {
  position: absolute;
  right: $right;
  top: $top;
  width: 72px;
  height: 72px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  &::before {
    @include btn-barre($clr, -45deg, 54px, 6px, 32px, 8px);
  }
  &::after {
    @include btn-barre($clr, 45deg, 54px, 6px, 32px, 8px);
  }
  &:hover::before, &:hover::after {
    background-color: survol-clr($clr);
  }
}

// Boutons de fermeture (petit)
@mixin btn-ferme--mini($clr, $top, $right) {
  position: absolute;
  right: $right;
  top: $top;
  width: 48px;
  height: 48px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  &::before {
    @include btn-barre($clr, -45deg, 32px, 4px, 22px, 7px);
    background-color: $clr;
  }
  &::after {
    @include btn-barre($clr, 45deg, 32px, 4px, 22px, 7px);
    background-color: $clr;
  }
  &:hover::before, &:hover::after {
    background-color: survol-clr($clr);
  }
}

// Chevrons du carrousel
@mixin btn-chevron($taille) {
  position: absolute;
  top: calc(50% - $taille);
  width: $taille;
  height: $taille;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  &--gau {
    left: -$taille;
    &:hover #chvr-gau {
      color: $clr-ter;
    }
  }
  &--dro {
    right: -$taille;
    &:hover #chvr-dro {
      color: $clr-ter;
    }
  }
  #chvr-gau, #chvr-dro {
    color: $clr-pri;
    @include tab-max {
      font-size: 2em;
    }
  }
}

// Pseudo-élément inséré dans les conteneurs flex avec "space-between"
@mixin after-flex {
  content: "";
  width: 350px;
  height: 1px;
}