.header {
  display: flex;
  margin: 0 35% 0 0;
  nav {
    margin-left: 86px;
    line-height: 25px;
    @include tab-max {
      width: 90%;
      margin: 18px auto 50px auto;
    }
  }
  &__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li:focus > .etiq-cont {
      border: 2px solid $clr-pri;
    }
    .etiq-cont {
      @include tags(0.813em, 11px);
    }
  }
}