.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 33% 0 3%;
  @include tab-max {
    align-items: initial;
  }
  @include mob-max {
    padding-left: initial;
  }
  a {
    width: fit-content;
  }
  nav {
    margin-left: 45px;
    @include tab-max {
      width: 90%;
      margin: 18px auto 50px auto;
    }
  }
  &__liste-etiq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}