// Modale du carrousel
.modale-carrous {
  display: flex; 
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
  &__liste {
    width: 70%;
    // max-height: 984px;
    // max-width: 1253px;
    li {
      display: block;
      position: relative;
      color: $clr-primaire;
    }
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 5px;
    }
    figcaption {
      font-size: 1.5em;   
      @include tab-max {
        font-size: 0.875em;
      }
    }
  }
}